{% extends "_layout.html" %}

{% block title %}Category{% endblock %}

{% block body %}
<div class="container">
{% if category %}
    <h1>{{ category.name }}</h1>
    {% if category.challenges.all()|length %}
    <ul>
        {% for challenge in category.challenges %}
        <li><a href="{{ url_for('show_challenges') }}{{ challenge.id }}">{{
            challenge.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% else %}
    <p>The category doesn't exist</p>
{% endif %}
</div>
{% endblock %}

