{% extends "_layout.html" %}

{% block title %}Challenge{% endblock %}

{% block body %}
<div class="container">
    {% if challenge %}
    <h1>
        {{ challenge.title }}
        {% if user and user.is_authenticated() and user in challenge.authors %}
        <button class="btn btn-primary btn-small" onclick="location.href = '{{ url_for('edit_challenge', id=challenge.id) }}'">Edit</button>
        {% endif %}
    </h1>

    {% if challenge.categories %}
    <hr />
    <p>Belongs to:
    {% for category in challenge.categories %}
        <a href="{{ url_for('show_categories') }}{{ category.name }}">{{ category.name }}</a>
    {% endfor %}
    </p>
    {% endif %}

    <hr />

    <div>
        <h2>Description</h2>
        <p>
            {{ challenge.description }}
        </p>
        <h2>Url</h2>
        {% if user and user.is_authenticated() %}
        <p>
            <a href="{{ challenge.url }}">{{ challenge.url }}</a>
        </p>
        <form class="navbar-form">
            <input type="text" class="span2 error">
            {# TODO: test the flag #}
            <button type="submit" class="btn btn-success" onclick="location.href = '#'">Validate</button>
        </form>
        {% else %}
        <p>
            <a href="{{ url_for('login_view') }}">Login</a>
        </p>
        {% endif %}
    </div>

    <hr />

    <p>Published by:
    {% for user in challenge.authors %}
        <a href="{{ url_for('show_score', id=user.id) }}">{{ user.username }}</a>
    {% endfor %}
    </p>

    {% else %}
    <div class="alert alert-block fade in">
        Challenge not found
    </div>
    {% endif %}
</div>
{% endblock %}

