{% extends "_layout.html" %}

{% block title %}Score{% endblock %}

{% block body %}
<div class="container">
    {% if spe_user %}
    <div>
        <h1>{{ spe_user.username }}</h1>
        <p>Score: {{ score }}</p>
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse"
                        data-present="#accordion2"
                        href="#collapseOne">Validated challenges</a>
                </div>

                <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Challenge</th>
                                    <th>Categories</th>
                                    <th>Level</th>
                                    <th>Requirement</th>
                                    <th>Url</th>
                                    <th>Tags</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for validated in spe_user.validated %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('show_challenge', id=validated.id) }}">{{ validated.title }}</a>
                                </td>
                                <td>
                                {% for category in validated.categories %}
                                    <a href="{{ url_for('show_category', name=category.name) }}">{{ category.name }}</a>
                                {% endfor %}
                                </td>
                                <td>
                                    {{ validated.level }}
                                </td>
                                <td>
                                    {{ validated.requirement }}
                                </td>
                                <td>
                                    <a href="{{ validated.url }}">{{ validated.url }}</a>
                                </td>
                                <td>
                                {% for tag in validated.tags %}
                                    {{ tag.label }}
                                {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-block fade in">
        User not found
    </div>
    {% endif %}
</div>
{% endblock %}
